In [ ]:
import math
#accepting input from the user
radius=float(input("enter the radius of the circle: "))
#computing the area
area=math.pi*(radius)**2
#displaying the result
print(f"area of the circle is {area}")

enter the radius of the circle: 3
area of the circle is 28.274333882308138

In [ ]:
#accepting input from the user
name=input("enter the name: ")
roll_number=input("enter the roll_number: ")
mark=input("enter the mark: ")
#displayig the resut
print("Name:",name)
print("Roll_number:",roll_number)
print("Mark:",mark)

enter the name: Anisha
enter the roll_number: 21
enter the mark: 78
Name: Anisha
Roll_number: 21
Mark: 78

In [ ]:
#accepting input from user
numbers=[12,3,47,10]
#find the largest number
largest=numbers[0]
for num in numbers:
        if num > largest:
            largest = num

print(f"{largest} is the largest number")

47 is the largest number

In [ ]:
previous_number = 0  # Initialize the previous number as 0

for current_number in range(1, 11):  # Iterating through the range 1 to 10
    current_sum = current_number + previous_number
    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {current_sum}")
    previous_number = current_number  # Update the previous number for the next iteration

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [ ]:
# List of numbers
numbers = [10, 20, 33, 46, 55]

# Iterate through the numbers and print those divisible by 5
for num in numbers:
    if num % 5 == 0:
        print(num, end=", ")

10, 20, 55,

In [ ]:
for i in range(1, 5):
    print('*' * i)

*
**
***
****

In [ ]:
# Input three numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

# Find the maximum using the max() function
maximum = max(num1,num2,num3)
#display the maximum
print("The maximum of the three numbers is:", maximum)

Enter the first number: 90
Enter the second number: 99
Enter the third number: 999
The maximum of the three numbers is: 999

In [ ]:
# Upper half of the pattern
for i in range(1, 6):
    print('*' * i)

# Lower half of the pattern
for i in range(4, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*